body {
  background-color: #ffd6e8;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 60px;
}

h1 {
  color: #d6336c;
}

.main-image {
  width: 250px;       /* makes it small */
  height: auto;       /* keeps proportions */
  display: block;     /* allows centering */
  margin: 30px auto;  /* centers it horizontally */
  border-radius: 20px;
}



.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d88;
  color: white;
}

#noBtn {
  background-color: #ccc;
}